.testimonial_page_main_container {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4b1dab;
  color: white;
  gap: 20px;
}

.testimonial_page_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1020px;
}

.testimonial_page_header_text {
  font-size: 2rem;
  font-weight: bold;
}

.testimonial_page_header_btn {
  height: 70px;
  padding: 10px;
  display: flex;
  gap: 15px;
  /* width: 150px; */

  .testimonial_page_header_back_btn,
  .testimonial_page_header_forward_btn {
    width: 50px;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    color: white;
    border: 1.5px solid white;

    &:hover {
      color: black;
      background-color: white;
      transition: background-color 0.3s ease-in-out;
    }
  }
}

.testimonial_page_show_container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.testimonial_page_card_wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.testimonial_card {
  display: flex;
  flex-direction: column;
  background: #171717;
  border-radius: 15px;
  padding: 20px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.testimonial_text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.testimonial_user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial_user_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
}

.testimonial_user_name {
  font-size: 1.1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .testimonial_page_card_wrapper {
    flex-wrap: wrap;
  }

  .testimonial_card {
    width: 100%;
  }
}

/* .testimonial_page_card_wrapper {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out; 
  will-change: transform;
  width: max-content;
} */
